
.header{
position:absolute;
width:70%;
height:300px;
left:15%;
/*top:50%; */
margin-top:-100px;
background-color:#f1f1f1;
}
.title{
position:absolute;
width: 70%;
height: 200px;	
left:15%;
top:29%;
margin-top:-100px;
/*background-color: red; */
}
#gt-appname{
	font-size: 40px;
	color: #dd4b39;
	font-family: sans-serif;
	border-style: solid;
}
.fanyi{
	position: absolute;
	top:23%;
	/*background-color:red;*/
}
.line{
position:absolute;
width:100%;
height:1px;
/*left:15%;*/
top:100%; 
margin-top:-65px;
background-color:#f1f1f1;
}
.xx{
position:absolute;
width:70%;
height:200px;
left:15%;
top:50%; 
margin-top:-100px;
/*background-color:gray;*/
}
.conn{
position:absolute;
width:70%;
height:200px;
left:15%;
top:69%; 
margin-top:-100px;
/*background-color:red;*/
}
.text{
	border-radius: 5px 5px 5px 5px;
}
.submit{
position:absolute;
width:70%;
height:200px;
left:50%;
top:66%; 
margin-top:-100px;
}

h1 {
	font-family: sans-serif;
}

h3 {
color: transparent;
-webkit-text-stroke: 4px red;
}
.gt-submit{
	background-color:#4d90fe;
	color:#fff;
	border:1px solid #3079ed;
}
.gt-submit-action{
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}